# Ignorar un archivo CSV específico en la carpeta data
data/*.csv

# Entornos de Python
*.venv

# PyCharm
*.idea

# Cache
__pycache__/

# Datos generados
data/generated/*

# Modelos guardados
models/*.pkl
models/transformer_model/*
