# Ignorar un archivo CSV específico en la carpeta data
data/*.csv

# Entornos de Python
*.venv

# PyCharm
*.idea

# Cache
__pycache__/

# Ignorar archivos de documentación menos el .pdf final
documentacion.aux
documentacion.log
documentacion.out
documentacion.fdb_latexmk
documentacion.fls
documentacion.toc
documentacion.tex
documentacion.synctex.gz